@import "tailwindcss";

@theme {
  --color-background: #1a1a1a;
  --color-board: #202020;

  --color-columns: #2a2a2a;
  --color-cards: #2f2f2f;

  --color-text: #b0b0b0;

  --color-accent: #10b981;
  --color-darkgreen: #002211;

  --breakpoint-500px: 500px;
  --breakpoint-200px: 200px;
}

@layer base {
  body {
    @apply text-text 2xl:max-w-screen-2xl 2xl:mx-auto;
  }

  button {
    @apply cursor-pointer;
  }
}

.active {
  color: var(--color-accent);
  border-bottom: 1px solid var(--color-accent);
}
